.footer-top {
    background-color: $primary;
    color: $white;
    min-height: 5rem;

    h5 {
        font-size: 12pt;
        font-family: 'Noto Sans JP', sans-serif;

    }

}

.footer-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;

    p{
        font-size: 10pt;
        margin: 0;
    }
}